@font-face {
  font-family: 'icon';
  src:  url('fonts/icons.eot?cbl61a');
  src:  url('fonts/icons.eot?cbl61a#iefix') format('embedded-opentype'),
    url('fonts/icons.ttf?cbl61a') format('truetype'),
    url('fonts/icons.woff?cbl61a') format('woff'),
    url('fonts/icons.svg?cbl61a') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.rated:before {
  vertical-align: initial
}
.icon-search:before {
  content: "\e900";
}
.icon-sun:before {
  content: "\e901";
}
.icon-moon:before {
  content: "\e902";
}
.icon-cog:before {
  content: "\e903";
}
.icon-heart:before {
  content: "\e904";
}
.icon-playx:before {
  content: "\e905";
}
.icon-film:before {
  content: "\e906";
}
.icon-lang:before {
  content: "\e912";
  margin-right: 0.5vw;
}
.icon-audio:before {
  content: "\e914";
  margin-right: 0.5vw;
}
.icon-rated-3:before {
  content: "\e915";
}
.icon-rated-4:before {
  content: "\e916";
}
.icon-rated-1:before {
  content: "\e917";
}
.icon-rated-2:before {
  content: "\e918";
}
.icon-rated-5:before {
  content: "\e919";
}
.icon-imdb:before {
  content: "\e91a";
}
.icon-sd .path1:before {
  content: "\e91b";
  color: rgb(0, 0, 0);
}
.icon-sd .path2:before {
  content: "\e91c";
  margin-left: -1.5771484375em;
  color: rgb(0, 0, 0);
}
.icon-sd .path3:before {
  content: "\e91d";
  margin-left: -1.5771484375em;
  color: rgb(0, 0, 0);
}
.icon-sd .path4:before {
  content: "\e91e";
  margin-left: -1.5771484375em;
  color: rgb(255, 255, 255);
}
.icon-sd .path5:before {
  content: "\e91f";
  margin-left: -1.5771484375em;
  color: rgb(255, 255, 255);
}
.icon-hd:before {
  content: "\e920";
}
.icon-play:before {
  content: "\ea1c";
}
