<template>
  <div id="bgVideo">
    <div class="video-foreground" v-if="video">

      <!-- -->

      <iframe width="560" height="315" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen
      src="https://www.youtube.com/embed/Eg8teLlRvvI?start=16&rel=0&autoplay=1&mute=1&version=3&loop=1&playlist=Eg8teLlRvvI"></iframe>
    </div>
  </div>
</template>

<script>
  export default {
    props: ['video']
  }
</script>

<style scoped>
* {
  box-sizing: border-box;
}
#bgVideo {
  background: #000;
  position: absolute;
  top: -8vw;
  right: 0;
  padding-bottom: 58%;
  left: 0;
  z-index: 0;
}
.video-foreground,
#bgVideo iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.video-foreground {
  width: 300%;
  left: -100%;
}
</style>