<template>
  <div class="item">
    <div v-if="success">  
      <div class="bg-gradient">
        <div v-for="(bg,i) in meta.backgound" :key="i"
        :style="{ backgroundImage: 'url('+bg+')' }" ></div>

        <bgVideo v-if="video" :video="video"></bgVideo>
        <!--
        <a class="play-button"></a>
        -->
      </div>

      <div class="info">
        <h1>{{ meta.title }}</h1>
        <div class="year">{{ meta.year }}</div>
        <div class="rated" :class="meta.rated"></div>
        <div class="runtime">{{ meta.runtime }} min</div>
        <div class="icon-lang">{{ meta.subtitled }}</div>
        <div class="icon-audio">{{ meta.language }}</div>
        <div class="country"><b>Pais</b> {{ meta.country }}</div>
        <div class="director"><b>Director</b> {{ meta.director }} </div>
        <div class="generos"> <b>Generos</b> {{ meta.genres }} </div>

        <div class="portada"
          :style="{ backgroundImage: 'url('+meta.portada+')' }" ></div>
        <div class="sinopsis">
          <h3>Sinopsis</h3>
          {{ meta.full_summary }}
          </div>

        <ul class="cast" title="Reparto">
          <h3>Reparto</h3>
          <li v-for="c in meta.cast" :key="c.key">
            <img :src="c.image">
            <div>
              <b>{{ c.name }}</b>
              <span>{{ c.character }}</span>
            </div>
          </li>
        </ul>

      </div>
    </div>
    <div v-if="error" class="error-item">{{ error }}</div>
  </div>
</template>

<script>

  import '../helpers/fetch' // localstorage cached fetch
  import bgVideo from './bgVideo'

  export default {
    name: 'item',
    data() {
      return {
        success: '',
        error: '',
        uuid: '',
        meta: {
          title: '', //
          rated: '',
          type: '', //
          full_summary: '', 
          short_summary: '', //
          year: '',
          director: [],
          cast: [],
          genres: [], 
          backgound: [],
          runtime: '',
          subtitled: '',
          language: '',
          country: '',
          portada: '',
          omdb: {}
        },
        video: false
      }
    },
    mounted() {
      this.getItem()
    },
    methods: {
      getItem(){
        // let url_api = '//services.qbst.com.ar/test/content_hard.json'
        // let url_api = '//services.qbst.com.ar/test/content.json'
        let url_api = '/static/api/content.json'
        this.$cachedFetch(url_api)
        .then(r=>r.json()).then((res) => {
          if(res.Success){
            this.success = true
            let r = res.Content;
            let m = this.meta
            m.uuid = r.uuid;
            m.type = r.content_type || "Pelicula";
            m.full_summary = r.full_summary;
            m.short_summary = r.short_summary;
            m.cast = r.cast
            m.year = r.year
            m.genres = r.genres // .split(',');
            m.director = r.director // .split(',');
            m.runtime = r.runtime;
            m.country = r.countries;
            m.subtitled = r.subtitled;
            m.translated = r.translated;
            m.language = r.default_language;
            m.rated = 'icon-rated-'+r.rated;
            if(r.metadata) {
              m.title = r.metadata.titulo_internacional
              m.portada = r.metadata.img_large
              m.backgound[0] = r.metadata.img_fanart_1
              m.backgound[1] = r.metadata.img_fanart_2
              m.backgound[2] = r.metadata.img_fanart_3
              m.backgound[3] = r.metadata.img_fanart_4
            }
            this.getOmdb(m.title,()=>{
              // cargo del api omdb la metadata faltante 
              for (var k in m) {
                if(!m[k]) m[k] = this.omdb[this.capitalize(k)]
              }
            })
          } else {
            this.error = 'Error al cargar metadata'
          }
        }, err => {
          this.error = 'Contenido no disponible'
          console.error('Fetch item', err);
        });
      },
      getOmdb(t,then){
        this.$cachedFetch("//omdbapi.com/?apikey=99f526e9&t="+t)
        .then(r=>r.json()).then((res) => {
          console.debug('omdb', res)
          this.omdb = res;
          if(then) then()
        }, err => {
          console.error('Fetch item', err);
        });
      },
      capitalize(x) {
        return x.charAt(0).toUpperCase() + x.slice(1);
      },
      fixComas(x) {
        return x.split(',').join(', ')
      }
    },
    components: {
      bgVideo
    }

  }
</script>

<style scoped lang="sass">

  @import ../assets/sass/main

  .item
    padding: 2vw 4vw
    position: relative
    color: var(--color)
    .info
      margin: 24vw 0 2vw
      position: relative
      h1
        font-size: 6vw
        font-weight: 400
        display: block
        margin: 2vw 0
      h3
        font-size: 2vw;
        margin-bottom: 2vw;
      .cast
        list-style: none
        display: inline-block
        margin-top: -8vw
        li
          margin: 1vw 0
        img
          width: 4.5vw
          border-radius: 50%
          vertical-align: middle
          margin: 0 1vw
        div
          vertical-align: middle
          display: inline-block
          b, span
            display: block
            display: block
      .year, .rated, .runtime, .icon-audio, .icon-lang
        display: inline-block
        font-size: 120%
        margin-right: 1vw
        margin-bottom: 2vw

      .portada
        width: 16vw
        height: 22vw
        display: inline-block
        background-size: cover 
        vertical-align: top;
        margin-top: 2vw;
      .sinopsis
        display: inline-block;
        width: 45vw;
        margin: 2vw;
        vertical-align: top;
        line-height: 180%
        &:before
          content: attr(title)
          display: block
          font-size: 2vw
          margin-bottom: 1.2vw
      .generos, .country, .director
        line-height: 200%;
        display: block

    .bg-gradient,
    .bg-gradient > div:not(#bgVideo),
      background: no-repeat 100% 20%
      background-size: cover
      position: absolute
      padding-top: 45%
      right: 0 
      left: 0
      top: 0
      overflow: hidden;
      z-index: 0

      > div:not(#bgVideo) // 
        opacity: 0
        animation: bg 24s ease infinite
        @for $i from 1 through 4
          &:nth-child(#{4-$i})
            animation-delay: $i * 6s;

    .bg-gradient:after
      content: ''
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      z-index: 999
      background: var(--gradient)

  .play-button
    background: var(--bg-transparent);
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate3d(-50%,-50%,0)
    z-index: 99999;
    border-radius: 10%;
    padding: 2vw 4vw
    opacity: .75
    cursor: pointer
    transition: .25s ease;
    &:hover
      opacity: 1
    &:after
      color: var(--link-color)
      font-size: 3vw
      font-family: icon
      content: "\ea1c"

  @keyframes bg
    2% 
      opacity: 1
    25%
      opacity: 1
    28%
      opacity: 0

  @media (max-width: 800px) // Mobile
    .item .info
      h3
        font-size: 4vw
      .sinopsis, .cast
        width: 80vw
      .cast
        padding: 0
        margin: 2vw 0 0;
        li
          margin: 3vw 0
        img
          width: 8vw
          border-radius: 50%
          vertical-align: middle
          margin: 0 4vw
      .portada
        display: none
    
</style>