<template>
  <div id="topBar">
    <div id="logo"></div>
    <a class="button-theme" @click="toggleTheme"></a>
  </div>
</template>

<script>
  export default {
    methods: {
      toggleTheme(){
        document.body.classList.toggle('dark')
      }
    }
  }
</script>

<style lang="sass">
  #topBar
    position: fixed
    position: sticky
    top: 0
    left: 0
    right: 0
    z-index: 999
    padding: 1vw 2vw
    background: var(--bg-color)
    border-bottom: 1px solid var(--border-color)
    #logo
      width: 8vw;
      height: 4vw;
      background: url("../assets/img/logo.svg") 50% 50% no-repeat
    .button-theme
      top: 0
      right: 0
      padding: 0 2vw
      line-height: 6vw
      position: absolute
      &:after
        color: #666
        content: "\e902"
        font-size: 120%
        font-family: icon
        vertical-align: middle

  body.dark #topBar
    .button-theme
      &:after
        color: #ccc
        content: "\e901"

  @media (max-width: 800px) // Mobile
    #topBar
      #logo
        width: 16vw;
        height: 8vw;
      .button-theme
        line-height: 10vw
</style>