<template>
  <div id="app">
    <topBar></topBar>
    <item></item>
  </div>
</template>

<script>

import topBar from './components/topBar.vue'
import item from './components/item.vue'

export default {
  name: 'app',
  components: {
    topBar,
    item
  },
  data () {
    return {
      msg: 'x'
    }
  }
}
</script>

<style src="./assets/css/fonts.css"></style>

<style lang="sass">

@import ./assets/sass/main

#app
  font-family: 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  color: #666
  margin: 0

</style>
