

body // light
  --gradient: linear-gradient(0deg, #FFFFFF 0%, #FFFFFF00 140%)
  --border-color: #F8F8F8
  --bg-color: #FFFFFF
  --color: #222222
  --link-color: black
  --bg-transparent: #FFFFFFa8;
  --font-size: 1.2vw
  --title-size: 6vw

.dark
  --gradient: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0,0,0,0) 110%)
  --border-color: #FFFFFF20
  --bg-color: #000000
  --color: white
  --link-color: white
  --bg-transparent: #000000a8;

@media (max-width: 800px) // Mobile
  body
    --font-size: 3vw
    --title-size: 4vw
  