
@import gradient
@import vars

body 
  margin: 0
  color: var(--color)
  background: var(--bg-color)
  transform: background .25s ease
  animation: fade-in .25s ease
  font-size: var(--font-size)
  a
    cursor: pointer
    color: var(--link-color)
  .error-item
    padding: 4vw;

body.dark
  animation: fade-out .25s ease 

@keyframes fade-in
  25% 
    opacity: 0
    transform: translate3d(0,-1vh,0)
  100%
    opacity: 1
    transform: translate3d(0,0,0)

     vertical-align: middle;
@keyframes fade-out
  25% 
    opacity: 0
    transform: translate3d(0,-1vh,0)
  100%
    opacity: 1
    transform: translate3d(0,0,0)
